<h1>Listing transactions</h1>

<table>
<tr>
<th>T id</th>
<th>A id</th>
<th>T value</th>
<th>T value_date</th>
<th>T value_currency</th>
<th>T transaction_type</th>
<th>T transaction_type_code</th>
<th>T provider_org</th>
<th>T provider_org_ref</th>
<th>T provider_org_type</th>
<th>T receiver_org</th>
<th>T receiver_org_ref</th>
<th>T receiver_org_type</th>
<th>T description</th>
<th>T transaction_date</th>
<th>T transaction_date_iso</th>
<th>T flow_type</th>
<th>T flow_type_code</th>
<th>T aid_type</th>
<th>T aid_type_code</th>
<th>T finance_type</th>
<th>T finance_type_code</th>
<th>T tied_status_code</th>
<th>T disbursement_channel_code</th>

	<th>a_package_id</th>
		<th>a_activity_lang</th>
		<th>a_default_currency</th>
		<th>a_hierarchy</th>
		<th>a_last_updated</th>
		<th>a_reporting_org</th>
		<th>a_reporting_org_ref</th>
		<th>a_reporting_org_type</th>
		<th>a_funding_org</th>
		<th>a_funding_org_ref</th>
		<th>a_funding_org_type</th>
		<th>a_extending_org</th>
		<th>a_extending_org_ref</th>
		<th>a_extending_org_type</th>
		<th>a_implementing_org</th>
		<th>a_implementing_org_ref</th>
		<th>a_implementing_org_type</th>
		<th>a_recipient_region</th>
		<th>a_recipient_region_code</th>
		<th>a_recipient_country</th>
		<th>a_recipient_country_code</th>
		<th>a_collaboration_type</th>
		<th>a_collaboration_type_code</th>
		<th>a_default_flow_type</th>
		<th>a_default_flow_type_code</th>
		<th>a_default_aid_type</th>
		<th>a_default_aid_type_code</th>
		<th>a_default_finance_type</th>
		<th>a_default_finance_type_code</th>
		<th>a_iati_identifier</th>
		<th>a_title</th>
		<th>a_description</th>
		<th>a_date_start_actual</th>
		<th>a_date_start_planned</th>
		<th>a_date_end_actual</th>
		<th>a_date_end_planned</th>
		<th>a_status_code</th>
		<th>a_status</th>
		<th>a_contact_organisation</th>
		<th>a_contact_telephone</th>
		<th>a_contact_email</th>
		<th>a_contact_mailing_address</th>
		<th>a_default_tied_status</th>
		<th>a_default_tied_status_code</th>
		<th>a_legacy_data_name</th>
		<th>a_legacy_data_value</th>
		<th>a_legacy_data_iati_equivalent</th>
		<th>a_activity_website</th>
		<th>a_countryregion_id</th>

</tr>
<% @t.each do |t| %>
<tr>
<td><%= t[:t_id] %></td>
<td><%= t[:a_id] %></td>
<td><%= t[:value].to_s %></td>
<td><%= t[:t_value_date] %></td>
<td><%= t[:t_value_currency] %></td>
<td><%= t[:t_transaction_type] %></td>
<td><%= t[:t_transaction_type_code] %></td>
<td><%= t[:t_provider_org] %></td>
<td><%= t[:t_provider_org_ref] %></td>
<td><%= t[:t_provider_org_type] %></td>
<td><%= t[:t_receiver_org] %></td>
<td><%= t[:t_receiver_org_ref] %></td>
<td><%= t[:t_receiver_org_type] %></td>
<td><%= t[:t_description] %></td>
<td><%= t[:t_transaction_date] %></td>
<td><%= t[:t_transaction_date_iso] %></td>
<td><%= t[:t_flow_type] %></td>
<td><%= t[:t_flow_type_code] %></td>
<td><%= t[:t_aid_type] %></td>
<td><%= t[:t_aid_type_code] %></td>
<td><%= t[:t_finance_type] %></td>
<td><%= t[:t_finance_type_code] %></td>
<td><%= t[:t_tied_status_code] %></td>
<td><%= t[:t_disbursement_channel_code] %></td>
		<td><%= t[:a_package_id] %></td>
		<td><%= t[:a_activity_lang] %></td>
		<td><%= t[:a_default_currency] %></td>
		<td><%= t[:a_hierarchy] %></td>
		<td><%= t[:a_last_updated] %></td>
		<td><%= t[:a_reporting_org] %></td>
		<td><%= t[:a_reporting_org_ref] %></td>
		<td><%= t[:a_reporting_org_type] %></td>
		<td><%= t[:a_funding_org] %></td>
		<td><%= t[:a_funding_org_ref] %></td>
		<td><%= t[:a_funding_org_type] %></td>
		<td><%= t[:a_extending_org] %></td>
		<td><%= t[:a_extending_org_ref] %></td>
		<td><%= t[:a_extending_org_type] %></td>
		<td><%= t[:a_implementing_org] %></td>
		<td><%= t[:a_implementing_org_ref] %></td>
		<td><%= t[:a_implementing_org_type] %></td>
		<td><%= t[:a_recipient_region] %></td>
		<td><%= t[:a_recipient_region_code] %></td>
		<td><%= t[:a_recipient_country] %></td>
		<td><%= t[:a_recipient_country_code] %></td>
		<td><%= t[:a_collaboration_type] %></td>
		<td><%= t[:a_collaboration_type_code] %></td>
		<td><%= t[:a_default_flow_type] %></td>
		<td><%= t[:a_default_flow_type_code] %></td>
		<td><%= t[:a_default_aid_type] %></td>
		<td><%= t[:a_default_aid_type_code] %></td>
		<td><%= t[:a_default_finance_type] %></td>
		<td><%= t[:a_default_finance_type_code] %></td>
		<td><%= t[:a_iati_identifier] %></td>
		<td><%= t[:a_title] %></td>
		<td><%= t[:a_description] %></td>
		<td><%= t[:a_date_start_actual] %></td>
		<td><%= t[:a_date_start_planned] %></td>
		<td><%= t[:a_date_end_actual] %></td>
		<td><%= t[:a_date_end_planned] %></td>
		<td><%= t[:a_status_code] %></td>
		<td><%= t[:a_status] %></td>
		<td><%= t[:a_contact_organisation] %></td>
		<td><%= t[:a_contact_telephone] %></td>
		<td><%= t[:a_contact_email] %></td>
		<td><%= t[:a_contact_mailing_address] %></td>
		<td><%= t[:a_default_tied_status] %></td>
		<td><%= t[:a_default_tied_status_code] %></td>
		<td><%= t[:a_legacy_data_name] %></td>
		<td><%= t[:a_legacy_data_value] %></td>
		<td><%= t[:a_legacy_data_iati_equivalent] %></td>
		<td><%= t[:a_activity_website] %></td>
		<td><%= t[:a_countryregion_id] %></td>

</tr>
<% end %>
</table>

<br />

