<h1>Policy Markers</h1>

<table>
  <tr>
    <th>Policy Marker</th>
    <th>Vocab</th>
    <th>Code</th>
    <th>Show Activities</th>
  </tr>

<% @policy_markers.each do |policy_marker| %>
  <tr>
    <td><%=h policy_marker.text %></td>
    <td><%=h policy_marker.vocab %></td>
    <td><%=h policy_marker.code %></td>
<% 
pm_conditions = {}
pm_conditions[:policy_marker_id] = policy_marker.id
@policy_markers_activities = ActivitiesPolicyMarker.find(:all, :conditions => pm_conditions) %>
<td><%= link_to @policy_markers_activities.count.to_s + ' activities', :controller=>:activities, :policy_marker => policy_marker.id.to_s  %></td>
    <td><%= link_to 'Show', policy_marker %></td>
<!--
    <td><%= link_to 'Edit', edit_policy_marker_path(policy_marker) %></td>
    <td><%= link_to 'Destroy', policy_marker, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New policy_marker', new_policy_marker_path %>
