<h1>Policy Marker: <%=h @policy_marker.text%> </h1>
  <b>Vocab:</b>
  <%=h @policy_marker.vocab %>
<br />
  <b>Code:</b>
  <%=h @policy_marker.code %>
<br />
<p><%= link_to "View Activities", :controller => :activities, :policy_marker => @policy_marker.id %></p>


<%= link_to 'Edit', edit_policy_marker_path(@policy_marker) %> |
<%= link_to 'Back', policy_markers_path %>
