<h1>Organisations</h1>

<% if @pagination.count >0 
%>
	<p>Page: <% @pagination.each do |p| %>
	<%= link_to p[:page].to_s, :params => params, :page => p[:page].to_s 
	%>
	<% end %></p>
<% end %>

<table>
  <tr>
    <th>Organisations</th>
    <th>Activities</th>
    <th>Type</th>
    <th>Ref</th>
    <th>Role</th>
    <th>Show</th>
  </tr>

<% @organisations.each do |organisation| %>
<% if organisation %>
  <tr>
    <td><% 
#link_to organisation.implementing_org, :controller=>:activities, :implementing_org=>organisation.implementing_org 
%><%=
	organisation.name
%></td>
   
<td><%= link_to(pluralize(organisation.activities.count, 'Activity'), :controller => :activities, :organisations => organisation.id) %></td>
<td><%= organisation.orgtype %></td>
<td><%= organisation.ref %></td>
<%
 @conditions = {}
 @conditions[:organisation_id] = organisation.id
 @reltype = ActivitiesOrganisation.all(:select => 'distinct(rel_type)', :conditions=>@conditions)%>

<td><% @reltype.each do |r| %>
<% if r.rel_type == 1 %>
Funding 
<% elsif r.rel_type == 2 %>
Extending 
<% elsif r.rel_type == 3 %>
Implementing 
<% end %>
<% end %></td>
<td><%= link_to 'Show', organisation_url(organisation) %></td>
  </tr>
<% end %>
<% end %>
</table>
