<p>
  <b>Name:</b>
  <%=h @aggregation.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @aggregation.value %>
</p>

<p>
  <b>Contribs:</b>
  <%=h @aggregation.contribs %>
</p>

<p>
  <b>Thecontroller:</b>
  <%=h @aggregation.thecontroller %>
</p>

<p>
  <b>Theid:</b>
  <%=h @aggregation.theid %>
</p>

<p>
  <b>Group:</b>
  <%=h @aggregation.group %>
</p>

<p>
  <b>Man link:</b>
  <%=h @aggregation.man_link %>
</p>


<%= link_to 'Edit', edit_aggregation_path(@aggregation) %> |
<%= link_to 'Back', aggregations_path %>