<p>
  <b>Activity:</b>
  <%=h @policy_markers_activity.activity_id %>
</p>

<p>
  <b>Policy marker:</b>
  <%=h @policy_markers_activity.policy_marker_id %>
</p>

<p>
  <b>Significance:</b>
  <%=h @policy_markers_activity.significance %>
</p>


<%= link_to 'Edit', edit_policy_markers_activity_path(@policy_markers_activity) %> |
<%= link_to 'Back', policy_markers_activities_path %>