<h1>Listing sectors_activities</h1>

<table>
  <tr>
    <th>Activity</th>
    <th>Sector</th>
    <th>Percentage</th>
  </tr>

<% @sectors_activities.each do |sectors_activity| %>
  <tr>
    <td><%=h sectors_activity.activity_id %></td>
    <td><%=h sectors_activity.sector_id %></td>
    <td><%=h sectors_activity.percentage %></td>
    <td><%= link_to 'Show', sectors_activity %></td>
    <td><%= link_to 'Edit', edit_sectors_activity_path(sectors_activity) %></td>
    <td><%= link_to 'Destroy', sectors_activity, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sectors_activity', new_sectors_activity_path %>