
<h1>Found <%= pluralize(@totalrows.to_i, 'Activity') %><% if (@numcountries != '' and @numregions != '') %> in <%= pluralize(@numcountries, 'Country') %> and <%= pluralize(@numregions, 'Region') %><% end %>.</h1>
<%= @messages %>
<!--<div class="form_options">
	<% form_tag activities_path, :method => 'get' do %>
	   <p>
	      <label for="recipient_country">Recipient country:</label>
	      <%= select_tag(:recipient_country,
		 options_from_collection_for_select(@countries, :recipient_country, :recipient_country, 
		:selected => params[:recipient_country]),
		{:onchange => 'this.form.submit()'}) %>
	   </p>
	<% end %>
</div>-->

<table>
  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Funder</th>
    <th>Implementer</th>
<!--    <th>Description</th>-->
    <th>Date</th>
    <th>Status</th>
    <th>Amount</th>
  </tr>

<% @activities.each do |activity| %>
  <tr<% if @conditions[:hierarchy] %> class="hierarchy1"<% end %>>
    <td><span class="activity title"><%=h link_to activity.title, activity %></span><br /><span class="activity description"><%=h activity.description %></span></td>
			    <td><%=h link_to activity.recipient_region, :recipient_region => activity.recipient_region if activity.recipient_region %> <%=h link_to activity.recipient_country, :recipient_country => activity.recipient_country if activity.recipient_country %></td>
    <td><%=h activity.extending_org %><br />(<%=h activity.funding_org %>)</td>
    <td><%=h link_to activity.implementing_org, :implementing_org => activity.implementing_org %></td>
	<% if (activity.date_start_actual > DateTime.now) and activity.date_start_actual
	# if the actual start date is after today, then say the planned start date
	%>
	    <td><%=h activity.date_start_planned %> <i>(Planned)</i> - 
	<%
	# if the activity has already started, then say the actual start date
	 else %>
	    <td><%=h activity.date_start_actual %> - 
	<% end %>
	<%
	# if the actual end date is later than now, then say the planned end date
	 if ((activity.date_end_actual > DateTime.now) if activity.date_end_actual) %>
	    <%=h activity.date_end_planned %> <i>(Planned)</i></td>
	<% else %>
	    <%=h activity.date_end_actual %></td>
	<% end %>
    <td><%=h activity.status %></td><td> </td><!--
    <td><%= link_to 'Edit', edit_activity_path(activity) %></td>
    <td><%= link_to 'Destroy', activity, :confirm => 'Are you sure?', :method => :delete %></td>-->
  </tr>

<%
    #All of this needs to be moved to the controller... Just create a sub_activities hash? Which includes policy markers as a hash within?
    @policy_markers = PolicyMarker.find(:all)
    @ra_conditions = {}
    @ra_conditions[:activity_id] = activity.id
    @rel_activities = RelatedActivity.find(:all, :conditions=>@ra_conditions)
	    @sub_conditions = {}
	    if @conditions[:hierarchy]
	    @rel_activities.each do |ra|
		@sub_conditions[:iati_identifier] = ra.ref
	  	    @sub_activities = Activity.find(:all, :conditions=> @sub_conditions)
				@sub_activities.each do |subactivity| 
					# Policy markers
					@pma_conditions = {}
					@pma_conditions[:activity_id] = subactivity.id
					@pma_conditions[:significance] = '1'
					@policy_markers_activity = PolicyMarkersActivity.find(:all, :conditions=>@pma_conditions)
					%>
			<tr class="hierarchy2">
			    <td><%=h link_to subactivity.title, subactivity %><% 
				if @policy_markers_activity %>
				<br />
				<% end 
				@policy_markers_activity.each do |thispolicymarker|
					@policy_markers.each do |policymarker|
						if policymarker.id == thispolicymarker.policy_marker_id %>
							<span class="policy_marker"><%= link_to policymarker.text, policymarker %></span>
						<% end
					end
				 end

				%></td>
			    <td><%=h link_to subactivity.recipient_region, :recipient_region => subactivity.recipient_region if subactivity.recipient_region %> <%=h link_to subactivity.recipient_country, :recipient_country => subactivity.recipient_country if subactivity.recipient_country %></td>
			    <td><%=h subactivity.extending_org %><br />(<%=h subactivity.funding_org %>)</td>
			    <td><%=h link_to subactivity.implementing_org, :implementing_org => subactivity.implementing_org %></td>


			<% if (subactivity.date_start_actual > DateTime.now if subactivity.date_start_actual)
			# if the actual start date is after today, then say the planned start date
			%>
			    <td><%=h subactivity.date_start_planned if subactivity.date_start_planned %> <i>(Planned)</i> - 
			<%
			# if the activity has already started, then say the actual start date
			 else %>
			    <td><%=h subactivity.date_start_actual if subactivity.date_start_actual %> - 
			<% end %>
			<%
			# if the actual end date is later than now, then say the planned end date
			 if (subactivity.date_end_actual > DateTime.now if subactivity.date_end_actual) %>
			    <%=h subactivity.date_end_planned if subactivity.date_end_planned %> <i>(Planned)</i></td>
			<% else %>
			    <%=h subactivity.date_end_actual if subactivity.date_end_actual %></td>
			<% end %>
			    <td><%=h subactivity.status %></td>
			    <td><%
				 @transaction_conditions = {}
				 @transaction_conditions[:activity_id] = subactivity.id
				 @transactions = Transaction.find(:all, :conditions=>@transaction_conditions)
			 	 @c_total = 0.to_f
				 @d_total = 0.to_f
				 @transactions.each do |t| 
					@c_total += t.value.to_f if t.transaction_type_code == 'C'
					@d_total += t.value.to_f if t.transaction_type_code == 'D'
				 end
				 %>
				 <b>Commitments:</b> <%= (subactivity.default_currency if subactivity.default_currency) + " " + number_with_delimiter(@c_total.to_i, :delimiter=> ',') %><br />
				 <b>Disbursements:</b> <%= (subactivity.default_currency if subactivity.default_currency) + " " + number_with_delimiter(@d_total.to_i, :delimiter=>',') %>
				</td>

				<!--
			    <td><%= link_to 'Edit', edit_activity_path(subactivity) %></td>
			    <td><%= link_to 'Destroy', subactivity, :confirm => 'Are you sure?', :method => :delete %></td>-->
			</tr>
			<%	end
	end
end
	
 end %>
</table>

<br />
<% if @pagination.count >0 
if params[:page]
	params.delete("page")
end
%>
	Page: <% @pagination.each do |p| %>
	<%= link_to p[:page].to_s, :params => params, :page => p[:page].to_s 
	%>
	<% end %><br />
<% end %>
<%= link_to 'New activity', new_activity_path %>
