<p>
  <b>Package:</b>
  <%=h @activity.package_id %>
</p>

<p>
  <b>Activity lang:</b>
  <%=h @activity.activity_lang %>
</p>

<p>
  <b>Default currency:</b>
  <%=h @activity.default_currency %>
</p>

<p>
  <b>Hierarchy:</b>
  <%=h @activity.hierarchy %>
</p>

<p>
  <b>Last updated:</b>
  <%=h @activity.last_updated %>
</p>

<p>
  <b>Reporting org:</b>
  <%=h @activity.reporting_org %>
</p>

<p>
  <b>Reporting org ref:</b>
  <%=h @activity.reporting_org_ref %>
</p>

<p>
  <b>Reporting org type:</b>
  <%=h @activity.reporting_org_type %>
</p>

<p>
  <b>Funding org:</b>
  <%=h @activity.funding_org %>
</p>

<p>
  <b>Funding org ref:</b>
  <%=h @activity.funding_org_ref %>
</p>

<p>
  <b>Funding org type:</b>
  <%=h @activity.funding_org_type %>
</p>

<p>
  <b>Extending org:</b>
  <%=h @activity.extending_org %>
</p>

<p>
  <b>Extending org ref:</b>
  <%=h @activity.extending_org_ref %>
</p>

<p>
  <b>Extending org type:</b>
  <%=h @activity.extending_org_type %>
</p>

<p>
  <b>Implementing org:</b>
  <%=h @activity.implementing_org %>
</p>

<p>
  <b>Implementing org ref:</b>
  <%=h @activity.implementing_org_ref %>
</p>

<p>
  <b>Implementing org type:</b>
  <%=h @activity.implementing_org_type %>
</p>

<p>
  <b>Recipient region:</b>
  <%=h @activity.recipient_region %>
</p>

<p>
  <b>Recipient region code:</b>
  <%=h @activity.recipient_region_code %>
</p>

<p>
  <b>Recipient country:</b>
  <%=h @activity.recipient_country %>
</p>

<p>
  <b>Recipient country code:</b>
  <%=h @activity.recipient_country_code %>
</p>

<p>
  <b>Collaboration type:</b>
  <%=h @activity.collaboration_type %>
</p>

<p>
  <b>Collaboration type code:</b>
  <%=h @activity.collaboration_type_code %>
</p>

<p>
  <b>Default flow type:</b>
  <%=h @activity.default_flow_type %>
</p>

<p>
  <b>Default flow type code:</b>
  <%=h @activity.default_flow_type_code %>
</p>

<p>
  <b>Default aid type:</b>
  <%=h @activity.default_aid_type %>
</p>

<p>
  <b>Default aid type code:</b>
  <%=h @activity.default_aid_type_code %>
</p>

<p>
  <b>Default finance type:</b>
  <%=h @activity.default_finance_type %>
</p>

<p>
  <b>Default finance type code:</b>
  <%=h @activity.default_finance_type_code %>
</p>

<p>
  <b>Iati identifier:</b>
  <%=h @activity.iati_identifier %>
</p>

<p>
  <b>Title:</b>
  <%=h @activity.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @activity.description %>
</p>

<p>
  <b>Date start actual:</b>
  <%=h @activity.date_start_actual %>
</p>

<p>
  <b>Date start planned:</b>
  <%=h @activity.date_start_planned %>
</p>

<p>
  <b>Date end actual:</b>
  <%=h @activity.date_end_actual %>
</p>

<p>
  <b>Date end planned:</b>
  <%=h @activity.date_end_planned %>
</p>

<p>
  <b>Status code:</b>
  <%=h @activity.status_code %>
</p>

<p>
  <b>Status:</b>
  <%=h @activity.status %>
</p>

<p>
  <b>Contact organisation:</b>
  <%=h @activity.contact_organisation %>
</p>

<p>
  <b>Contact telephone:</b>
  <%=h @activity.contact_telephone %>
</p>

<p>
  <b>Contact email:</b>
  <%=h @activity.contact_email %>
</p>

<p>
  <b>Contact mailing address:</b>
  <%=h @activity.contact_mailing_address %>
</p>

<p>
  <b>Default tied status:</b>
  <%=h @activity.default_tied_status %>
</p>

<p>
  <b>Default tied status code:</b>
  <%=h @activity.default_tied_status_code %>
</p>

<p>
  <b>Legacy data name:</b>
  <%=h @activity.legacy_data_name %>
</p>

<p>
  <b>Legacy data value:</b>
  <%=h @activity.legacy_data_value %>
</p>

<p>
  <b>Legacy data iati equivalent:</b>
  <%=h @activity.legacy_data_iati_equivalent %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>