<h1><%=h @activity.title %></h1>
  <%=h @activity.description %>
<p>
  <b>Policy Markers:</b><br />
<% @policymarkers.each do |pm| %>
  <span class="policy_marker"><%= link_to pm.text, pm %></span>
<% end %>
</p>
<p><b>Sectors:</b><br />
<% @sectors.each do |s| %>
  <span class="sector"><%= link_to s.text, s %></span>
<% end %>

<% if @activity.transactions %>
  <h2><b><%= link_to pluralize(@activity.transactions.count, 'Transaction'), activity_transactions_url(@activity) %></b></h2>
  <%  @activity.transactions.each do |t| %>
    <%= @activity.default_currency if @activity.default_currency %> <%= t.value if t.value %> (<%= t.transaction_type if t.transaction_type %><%= ", " + t.transaction_date if t.transaction_date %>)
  <br />
  <%  end %>
<% end %>
<hr />	
<p>
  <b>Package:</b>
  <%=h @activity.package_id %>
<br />
  <b>Activity lang:</b>
  <%=h @activity.activity_lang %>
<br />
  <b>Last updated:</b>
  <%=h @activity.last_updated %>
<br />
  <b>Reporting org:</b>
  <%=h @activity.reporting_org %> (Ref: <%=h @activity.reporting_org_ref %>, Type: <%=h @activity.reporting_org_type %>)
<br />
  <b>Hierarchy:</b>
  <%=h @activity.hierarchy %>
</p>

<p>
  <b>Default currency:</b>
  <%=h @activity.default_currency %>
</p>

<p>
  <b>Funding org:</b>
  <%=h @activity.funding_org %> (Ref: <%=h @activity.funding_org_ref %>, Type: <%=h @activity.funding_org_type %>)
</p>

<p>
  <b>Extending org:</b>
  <%=h @activity.extending_org %> (Ref: <%=h @activity.extending_org_ref %>, Type: <%=h @activity.extending_org_type %>)
</p>

<p>
  <b>Implementing org:</b>
  <%=h @activity.implementing_org %> (Ref: <%=h @activity.implementing_org_ref %>, Type: <%=h @activity.implementing_org_type %>)
</p>
<p><b>Real implementing org:</b>
<% @activity.implementing_organisations.each do |z| %>
<%= link_to z.name, organisation_url(z.id.to_s) %>
<% end %>
<p><b>Real funding org:</b>
<% @activity.funding_organisations.each do |z| %>
<%= link_to z.name, organisation_url(z.id.to_s) %>
<% end %>
<p><b>Real extending org:</b>
<% @activity.extending_organisations.each do |z| %>
<%= link_to z.name, organisation_url(z.id.to_s) %>
<% end %>
<% if @activity.countryregion %>
<p>
	<b>Recipient countryregion:</b>
	<%= @activity.countryregion.country_name %> (<%= @activity.countryregion.dac_region_name %>)
</p>
<% end %>
<p>
  <b>Recipient region:</b>
  <%=h @activity.recipient_region %> (<%=h @activity.recipient_region_code %>)
</p>

<p>
  <b>Recipient country:</b>
  <%=h @activity.recipient_country %> (<%=h @activity.recipient_country_code %>)
</p>

<p>
  <b>Collaboration type:</b>
  <%=h @activity.collaboration_type %> (Code: <%=h @activity.collaboration_type_code %>)
</p>

<p>
  <b>Default flow type:</b>
  <%=h @activity.default_flow_type %> (Code: <%=h @activity.default_flow_type_code %>)
</p>

<p>
  <b>Default aid type:</b>
  <%=h @activity.default_aid_type %> (Code: <%=h @activity.default_aid_type_code %>)
</p>

<p>
  <b>Default finance type:</b>
  <%=h @activity.default_finance_type %> (Code: <%=h @activity.default_finance_type_code %>)
</p>

<p>
  <b>Iati identifier:</b>
  <%=h @activity.iati_identifier %>
</p>

<p>
  <b>Date start actual:</b>
  <%=h @activity.date_start_actual %>
</p>

<p>
  <b>Date start planned:</b>
  <%=h @activity.date_start_planned %>
</p>

<p>
  <b>Date end actual:</b>
  <%=h @activity.date_end_actual %>
</p>

<p>
  <b>Date end planned:</b>
  <%=h @activity.date_end_planned %>
</p>

<p>
  <b>Status:</b>
  <%=h @activity.status %> (Code: <%=h @activity.status_code %>)
</p>

<p>
  <b>Contact Details:</b><br />
  <%=h @activity.contact_organisation %><br />
  <%=h @activity.contact_mailing_address %><br />
  <b>Telephone:</b>
  <%=h @activity.contact_telephone %><br />
  <b>Email:</b>
  <%=h @activity.contact_email %>
</p>

<p>
  <b>Default tied status:</b>
  <%=h @activity.default_tied_status %> (Code: <%=h @activity.default_tied_status_code %>)
</p>

<p>
  <b>Legacy data name:</b>
  <%=h @activity.legacy_data_name %>
</p>

<p>
  <b>Legacy data value:</b>
  <%=h @activity.legacy_data_value %>
</p>

<p>
  <b>Legacy data iati equivalent:</b>
  <%=h @activity.legacy_data_iati_equivalent %>
</p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
