<span id="packages">
  <%= link_to "Packages", packages_url %>
</span>
<p>
  <%= link_to "Activities", activities_url %> |
  <%= link_to "Sectors", sectors_url %> |
  <%= link_to "Policy Markers", policy_markers_url %>  |
  <%= link_to "Countries", countryregions_url %>   |
  <%= link_to "Organisations", organisations_url %> 
</p>
