<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>IATI Data: <%= controller.controller_name.capitalize + " &raquo; " + controller.action_name.capitalize %></title>
  <%= stylesheet_link_tag 'style' %>
   <script type="text/javascript">
	//<![CDATA[	
		var openaid = {};
        openaid.afterLoadCallbacks = [];
		
    //]]>
    </script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24018507-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<script type="text/javascript">
		// <![CDATA[
			// add classes to body to indicate JavaScript availabiliy
			if (document.body.className == '') {
				document.body.className = 'js';
			} else {
				document.body.className += ' js';
			}
		// ]]>
	</script>
<div id="page-wrapper">
<div id="beta">Still in very early development and likely to change substantially and frequently. Please do not rely on this data.</div>

<%= render :partial => '/navigation' %>
	<h1 class="title">IATI Data</h1>
	<p style="color: green"><%= notice %></p>
	<%= yield %>
<div id="credits"><%= link_to 'Source code', 'https://github.com/markbrough/IATI-Data' %>. License: <%= link_to 'Affero GPL v3', 'http://www.gnu.org/licenses/agpl-3.0.html' %>. Thanks to DFID, the World Bank and the Hewlett Foundation for publishing to IATI.</div>
</div>
</body>
</html>
